@import url('https://fonts.googleapis.com/css2? family= Barlow & display=swap');

*{
    margin: 0;
    padding: 0;
}


.menu{
    
}

.menu ul{
    list-style: none;
    height: 20px;
}

.menu ul li{
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.menu ul li:hover ul{
    display: block;
    
}

.menu ul li:hover ul li a{
    display: block;
    background-color: #ffffff;
    color: #3abfcc;
}

.menu ul li ul li a:hover{
    color: #4d4d4d;
}

.menu ul li a{
    color:#4d4d4d ;
    text-decoration: none;
}

.menu ul li a:hover{
    color:#3abfcc;
}

.menu ul ul{
    position: absolute;
    display: none;
}

.menu ul ul li{
    display: block;
}

 
  

.nro1{
    
    padding-top: 20px;
    margin: 10px;
   
    text-align: center;
    font-family: 'Barlow', sans-serif; 
    background: linear-gradient(  #d7a6d9 0%, #ffffff 45%);
}

.nro1__nor2__nro3{
    padding-top: 10px;
}

.principal{
    text-align: center;
    border-top:double 10px #d7a6d9;
    border-right: double 10px #9bbac7;
    font-family: 'Barlow', sans-serif;
    width: 50%;
}

.boton{
    background-color: #d7a6d9;
    border-radius: 28px;
    border: 1px solid #4d4d4d;
    display: block;
    position: relative;
    width: 200px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    
}




.formulario{
    width: 200px;
    height: 200px;
    border: solid 4px  #3abfcc ;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
    padding: 20px 20px;
}


#footer nav{
    
    margin: 10px;     
}

#footer nav{
    
   background-color: #4d4d4d;
}

#footer nav ul li{
    font-weight: bold;
    display: flex;
    justify-content:space-evenly ;
}

#footer nav ul li a{
    color: #ffffff;
    text-decoration: none;
}
#contenedor{
    background: linear-gradient(to left, #b1eaf0 0%, #ffffff 60%, #f0cef1 100%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
    
    "inicio"
    "alfa"
    "bravo"
    "mega"
    "charli"
    "footer"

    ;
}



   
    #inicio{
        grid-area: inicio ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        
    }

   
    
    .logo{
        width: 200px;
      
    }

    .img{
       display: none;
    } 

    #alfa{
        grid-area: alfa ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }

    #bravo{
        grid-area: bravo ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #mega{
        grid-area: mega ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    
    #charli{
        grid-area: charli ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    

    .nro1{
       
        width: 80%;
        height: 150px;
        padding-top: 10px;
        
    }
    
    
    .nro1__nor2{
        margin: 10px;
        
       
    }
    
    .pricipal__cuarto--d0{
        width: 200px;
       
       
    }
    .rey{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal{

        margin:  10px;
        width: 80%;
        height: 380px;
    }
    
    .pricipal__segundo{
        margin: 5px;
        height: 10%;

    }
    
    .pricipal__tercero{
        height: 10%;

    }
    
    .pricipal__cuarto{
        height: 180px;
        margin: 40px;
    }

    #footer{
        grid-area: footer ;
    }






@media only screen and (min-width: 1200px){
   
    
    #inicio {
            grid-area: inicio;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            
    }
    
        .img{
            display: block;
            width: 100%;
            height: 100vh;
        } 
    


    #alfa{
        grid-area: alfa ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        
    }

    #bravo{
        grid-area: bravo ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #mega{
        grid-area: mega ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    #charli{
        grid-area: charli ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
   
    .nro1{
       
        width:30%;
        padding-top: 10px;
    }
    
    .nro01{
        margin-top: 70px;
    }
    .nro1__nor2__nro3{
        
       
        font-family: 'Barlow', sans-serif; 
    }

   
    
    .rey{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap; 
        justify-content: center;
        
    }
    
    .principal{
        padding: 20px;
        margin: 20px 30px;
        width: 80%;
         
    }
    
    .principal2{
        width: 80%;
    }

    .pricipal__segundo{
        margin: 20px;
    }
    
    .pricipal__tercero{
        height: 10%; 
    }
    
    
    
    .pricipal__cuarto--d0{
        height: 280px;
        align-items: center;
        margin: 5px;
    }
    
    .pricipal__cuarto{
        height: 300px;
        margin: 40px;
    }
    
    .footer{
        grid-area: footer;
        padding-top: 5%;
        
    
    }  
}
