//footer
@use '_commons' as c;


#footer{
    grid-area: footer ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    
     

    nav{
        width: 100%;
        background-color: c.$color-4;
        margin: 10px;
        padding-top: 20px;  
        
        
        ul li{
            font-weight: bold;
            display: flex;
            justify-content:space-evenly ;


            a{
                color: c.$color-1 ;
                text-decoration: none;

                svg{

                    width: 30px;
                    height: 30px;

                    color: blue;


                }
            }

            
        }
    }
}





 

