//navaegacion
@use '_commons' as c;


.menu{
    background: linear-gradient(to left, #b1eaf0 0%, #ffffff 60%, #f0cef1 100%); 
    font-family: 'Barlow', sans-serif;
    margin-bottom: 40px;
    
    

    ul li ul li a{
        display: block;
        background: transparent linear-gradient(to left, #b1eaf0 0%, #ffffff 60%, #f0cef1 100%); 
        color: c.$color-1;
        font-style: oblique;
       
        
        
    
    
        &:hover{
            display: block;
            color:  c.$color-2 ;
            font-style: oblique;
        }
    }

    .menu ul li:hover ul{
        display: block;
        
    }
 }
  


