//productos de coleccion
@use '_commons' as c;


@media only screen and (min-width: 250px) {
    
    .coleccion {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: c.$ancho-total;
        gap: 10px;



        .coleccion-2 {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: calc(c.$ancho-total/2);
            gap: 10px;



        }

        .caja-producto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to left, c.$color-2 0%, c.$color-4 60%, c.$color-3 100%);
            margin-top: 20px;
            text-align: center;
            border: double 5px c.$color-1;
            width: 90%;



            .img-p {
                width: 80%;
            }


            .caja-II {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: c.$color-2;
                width: 90%;

                .boton {
                    background-color: c.$color-3;
                    color: c.$color-1 ;
                    border-radius: 28px;
                    border: 1px solid c.$color-4;
                    display: block;
                    position: relative;
                    width: 115px;
                    cursor: pointer;
                    font-family: 'Barlow', sans-serif;
                    text-align: center;
                    font-size: 17px;
                    text-decoration: none;


                    &:hover {
                        background-color: c.$color-2;

                    }
                }

            }


        }




    }



}



@media only screen and (min-width: 970px) {


    .coleccion {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: c.$ancho-total;
        gap: 30px;



        .coleccion-2 {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: calc(c.$ancho-total/2);
            gap: 25px;
            margin: auto;



        }

        .caja-producto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to left, c.$color-2 0%, c.$color-4 60%, c.$color-3 100%);
            margin-top: 20px;
            text-align: center;
            border: double 5px c.$color-1;



            .img-p {
                width: 80%;
            }


            .caja-II {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: c.$color-2;
                width: 80%;

                .boton {
                    background-color: c.$color-3;
                    color: c.$color-1 ;
                    border-radius: 28px;
                    border: 1px solid c.$color-4;
                    display: block;
                    position: relative;
                    width: 200px;
                    cursor: pointer;
                    font-family: 'Barlow', sans-serif;
                    text-align: center;
                    font-size: 17px;
                    text-decoration: none;


                    &:hover {
                        background-color: c.$color-2;

                    }
                }

            }


        }




    }



}


.formulario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px c.$color-1;
    width: c.$ancho-total;
    padding-top: 30px;

    form{
        width: 70%;
        label{
            margin: 10px;
        }

        input{
            width: 70%;
        }

        button{
            
            margin: 30px;
        }
        
        
    }

  
    
}

.volcer-a-compras{
    margin-top: 30px;

  }
